* {
  background: #282c34;
  position: relative;
  top: 15%;
}

.App-label {
  background-color: #282c34;
  text-align: left;
  font-size: 20px;
  color: white;
}

.App-btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 12px;
  width: 21rem;
}
